.App-header {
    background-color: crimson;
    height: 50px;
    padding-top: 20px;
    text-align: center;
    color: white;
}
.add {
    display: block;
    font-size: 18px;
    padding: 4px;
    width: 90px;
    height: 40px;
}
.submit {
    font-size: 18px;
    padding: 4px;
    width: 70px;
    height: 40px;
}
.submit-input-url {
    font-size: 18px;
    padding: 2px;
    width: 300px;
    height: 34px;
}

.submit-input-time {
    font-size: 18px;
    padding: 2px;
    width: 300px;
    height: 34px;
}
.submit-input-priority {
    font-size: 18px;
    padding: 2px;
    width: 300px;
    height: 34px;
    dispay: block;
}
.submit-input-drivers {
    font-size: 18px;
    padding: 2px;
    width: 300px;
    height: 34px;
}
.submit-input-startloc {
    font-size: 18px;
    padding: 2px;
    width: 300px;
    height: 34px;
}
.submit-input-endloc {
    font-size: 18px;
    padding: 2px;
    width: 300px;
    height: 34px;
}